@model my_website.Models.Entity.Tbl_Contact

@{
    ViewBag.Title = "ContactUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="p-5">
        <div class="mb-3">
            <div class="row">
                @Html.HiddenFor(x => x.ID)
                <div class="form-group col-6">
                    <label class="form-label">Phone</label>
                    <input type="text" name="PHONE" value="@Html.DisplayTextFor(x=>x.PHONE)" class="form-control" />
                </div>
                <div class="form-group col-6">
                    <label class="form-label">Address</label>
                    <input type="text" name="ADRESS" value="@Html.DisplayTextFor(x=>x.ADRESS)" class="form-control" />
                </div>
                <div class="form-group col-12">
                    <label class="form-label">Mail</label>
                    <input type="text" name="MAIL" value="@Html.DisplayTextFor(x=>x.MAIL)" class="form-control" />
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-lg btn-block">Update</button>
            </div>
        </div>
    </div>
</form>
<div style="height: 570px;"></div>