@using my_website.Models.Entity
@model List<Tbl_Projects>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-5">
    <div class="float-start mb-3">
        <a href="/Admin/AddProject" class="btn btn-info">Add Project</a>
    </div>
    <table class="table table-borderless table-responsive-sm table-responsive-md bg-light">
        <thead align="center">
            <tr>
                <th>Header</th>
                <th>Category</th>
                <th>Image</th>
                <th>GitHub</th>
                <th colspan="4">Operations</th>
            </tr>
        </thead>
        @foreach (var x in Model)
        {
            <tbody align="center">
                <tr>
                    <td>@x.HEADER</td>
                    <td>@x.Tbl_ProjectCategories.NAME</td>
                    <td><img src="@x.IMAGE" style="width: 150px" /></td>
                    <td>@x.GITHUB</td>
                    <td><a href="/Admin/ProjectImage/@x.ID" class="btn btn-outline-primary">Add Image</a></td>
                    <td><a href="/Admin/ProjectImages/@x.ID" class="btn btn-outline-warning">Images</a></td>
                    <td><a href="/Admin/ProjectUpdate/@x.ID" class="btn btn-outline-success">Update</a></td>
                    <td><a href="/Admin/ProjectDelete/@x.ID" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div style="height: 705px"></div>